.filter-bar {
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  gap: 16px 24px;
  padding: 10px 20px;
}

.filter-label {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
}
