button.action-button {
  margin: 4px;        
  font-weight: bold;    
  color: black;          
  background-color: white; 
  padding: 0.5em 1em;
  cursor: pointer;
  transition: background-color 0.2s ease;
  justify-content: center;
}

button.action-button:hover {
  background-color: #860a0a; 
  color: white;
  border: 3px solid white;
}
button.action-button:focus {
  outline: none;
  box-shadow: none;
}