.no-access-wrapper {
  background-color: #36383f;
  font-size: 20px;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.no-access-container {
  background-color: #f4f4f4;
  position: relative;
  width: 80%;
  min-width: 340px;
  max-width: 800px;
  margin: 2% auto;
  padding: 50px;
  border: 1px solid #e9ecf0;
  border-radius: 45px;
  box-shadow: 5px 5px 10px #000;
  font-size: 1rem;
}

.no-access-hole {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-image: radial-gradient(circle at 99%, #f4f4f4 10%, grey 70%);
  transform: rotate(45deg);
}

.no-access-hole-1 { top: 25px; left: 25px; }
.no-access-hole-2 { top: 25px; right: 25px; }
.no-access-hole-3 { bottom: 25px; left: 25px; }
.no-access-hole-4 { bottom: 25px; right: 25px; }

.no-access-header {
  background-color: #ef5350;
  padding: 20px;
  border-radius: 30px 30px 0 0;
  text-align: center;
  position: relative;
}

.no-access-title {
  text-transform: uppercase;
  color: #f4f4f4;
  font-size: 5.5em;
  line-height: .9em;
  letter-spacing: 3px;
  margin: 0;
  font-weight: 900;
}

.no-access-strike {
  position: absolute;
  width: 25%;
  height: 10px;
  background-color: #fff;
}

.no-access-strike-1 { 
  top: 115px; 
  left: 80px; 
}

.no-access-strike-2 { 
  top: 115px; 
  right: 80px; 
}

.no-access-body {
  display: flex;
  flex-wrap: nowrap;
}

.no-access-copy { 
  flex-basis: 60%; 
}

.no-access-circle { 
  flex-basis: 40%; 
}

.no-access-subtitle, 
.no-access-message {
  text-align: center;
  color: #1d1e22;
}

.no-access-subtitle {
  font-size: 3em;
  text-transform: uppercase;
  margin: 40px 0;
  line-height: .9em;
}

.no-access-message { 
  font-size: 20px; 
}

@media screen and (max-width: 930px) {
  .no-access-container { 
    font-size: .75rem; 
  }
}

@media screen and (max-width: 750px) {
  .no-access-container { 
    font-size: .6rem; 
  }
  
  .no-access-subtitle { 
    margin: 25px 0; 
  }
  
  .no-access-strike { 
    visibility: hidden; 
  }
}

@media screen and (max-width: 600px) {
  .no-access-container { 
    font-size: .4rem; 
    padding: 15px;
    border-radius: 25px;
  }
  
  .no-access-header {
    border-radius: 20px 20px 0 0;
  }
  
  .no-access-circle {
    width: 50%;
  }
  
  .no-access-hole {
    width: 10px;
    height: 10px;
  }
  
  .no-access-hole-1 { top: 8px; left: 8px; }
  .no-access-hole-2 { top: 8px; right: 8px; }
  .no-access-hole-3 { bottom: 8px; left: 8px; }
  .no-access-hole-4 { bottom: 8px; right: 8px; }
}

@media screen and (max-width: 450px) {
  .no-access-container { 
    font-size: .34rem; 
  }
  
  .no-access-subtitle { 
    margin: 10px; 
  }
  
  .no-access-message { 
    font-size: 14px; 
  }
}