.icon-img {
    width: 1.25em;   
    height: 1.25em;
    margin-right: 0.5em;
}

.icon-label {
  font-weight: 500;
}

button.icon-button:hover {
  background-color: #ff4f61;
  border: 2px solid rgb(255, 255, 255);
  color: white;
}
button.icon-button:active {
  background-color: #f5c6cb;
  border: 2px solid rgb(255, 121, 121);
}

.icon-button.wishlisted img {
  filter: invert(37%) sepia(90%) saturate(7500%) hue-rotate(350deg) brightness(90%) contrast(100%);
}